.title-brown {
  color: var(--color-nutmeg);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  font-style: var(--font-style-normal);
  margin: 20px 0px;
}

.second-list {
  padding: 0px 30px 20px 20px;
  font-weight: 300;
}

.second-list li {
  margin-bottom: 10px;
  padding-left: 30px; /* Ajusta el espacio entre el marcador y el contenido */
}

.second-list li::marker {
  color: var(--color-nutmeg); /* Usa el color que prefieras */
}

.ingredients-items {
  font-family: var(--font-secondary);
  color: var(--color-wenge-brown);
  font-weight: 500;
}

/* Media Queries para Desktop a 1440px */
@media (min-width: 1440px) {
  .ingredients-container, .title-brown, .second-list, .ingredients-items{
    background-color: var(--color-white);
  }
}
